@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic");
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
/* line 15, ../sass/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/* line 25, ../sass/_reset.scss */
article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/* line 29, ../sass/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 35, ../sass/_reset.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
/* line 45, ../sass/_reset.scss */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
/* line 58, ../sass/_reset.scss */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
/* line 62, ../sass/_reset.scss */
ul {
  list-style: none;
}

/* line 64, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 69, ../sass/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 71, ../sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 73, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 75, ../sass/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 78, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 79, ../sass/_reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 80, ../sass/_reset.scss */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 82, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 84, ../sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 86, ../sass/_reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 93, ../sass/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 94, ../sass/_reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 95, ../sass/_reset.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 96, ../sass/_reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 98, ../sass/_reset.scss */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 100, ../sass/_reset.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 102, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* line 104, ../sass/_reset.scss */
strong {
  font-weight: bold;
}

/* line 106, ../sass/_reset.scss */
td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
/* line 109, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 110, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 111, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
/* line 114, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
/* line 122, ../sass/_reset.scss */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 125, ../sass/_reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
/* line 129, ../sass/_reset.scss */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
/* line 132, ../sass/_reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
/* line 140, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 141, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 142, ../sass/_reset.scss */
.clearfix {
  zoom: 1;
}

/* line 22, ../sass/my.sass */
body {
  font-family: "opensans", verdana, arial;
  color: #333333;
  background-color: #fafafa;
}

/* line 37, ../sass/my.sass */
header {
  padding-left: 330px;
  padding-top: 50px;
}
@media only screen and (max-width: 450px) {
  /* line 37, ../sass/my.sass */
  header {
    padding-top: 20px;
    padding-left: 10px;
  }
}

/* line 44, ../sass/my.sass */
.logo {
  text-transform: uppercase;
  display: inline-block;
  float: left;
}
@media only screen and (max-width: 450px) {
  /* line 44, ../sass/my.sass */
  .logo {
    text-align: center;
  }
}

/* line 51, ../sass/my.sass */
.header_logo_state {
  font-weight: 700;
  font-size: 30px;
}

/* line 55, ../sass/my.sass */
.burger {
  font-size: 30px;
  display: none;
  text-align: right;
  padding-right: 100px;
  cursor: pointer;
}
/* line 61, ../sass/my.sass */
.burger:active {
  transform: translateY(2px);
}
/* line 63, ../sass/my.sass */
.burger:hover {
  color: #666666;
}
@media only screen and (max-width: 750px) {
  /* line 55, ../sass/my.sass */
  .burger {
    display: block;
  }
}
@media only screen and (max-width: 450px) {
  /* line 55, ../sass/my.sass */
  .burger {
    padding-right: 10px;
  }
}

/* line 80, ../sass/my.sass */
nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: no-wrap;
  padding-left: 330px;
  padding-right: 330px;
  padding-top: 50px;
  font-size: 14px;
  clear: left;
}
@media only screen and (max-width: 1100px) {
  /* line 80, ../sass/my.sass */
  nav {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 450px) {
  /* line 80, ../sass/my.sass */
  nav {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 101, ../sass/my.sass */
.menu_desctop,
.cart_desctop,
.login_desctop {
  display: inline-block;
}

/* line 106, ../sass/my.sass */
.menu_desctop {
  flex-grow: 2;
  transition: all 0.2s ease;
  background-color: #fafafa;
}
@media only screen and (max-width: 1100px) {
  /* line 106, ../sass/my.sass */
  .menu_desctop {
    order: 2;
  }
}
@media only screen and (max-width: 750px) {
  /* line 106, ../sass/my.sass */
  .menu_desctop {
    opacity: 0;
    transform: scale(0);
    transform-origin: 250% 0%;
    margin-top: -170px;
  }
}

/* line 118, ../sass/my.sass */
.menu_desctop ul li {
  display: inline-block;
  margin-right: 50px;
}
@media only screen and (max-width: 1100px) {
  /* line 118, ../sass/my.sass */
  .menu_desctop ul li {
    margin-right: 0px;
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 750px) {
  /* line 118, ../sass/my.sass */
  .menu_desctop ul li {
    display: block;
    text-align: center;
  }
}

/* line 129, ../sass/my.sass */
.menu_desctop ul li a {
  text-decoration: none;
  color: #333333;
}
/* line 132, ../sass/my.sass */
.menu_desctop ul li a:active {
  position: relative;
  top: 2px;
}

/* line 135, ../sass/my.sass */
.menu_desctop ul li a:hover {
  color: #932525;
}

/* line 138, ../sass/my.sass */
.cart_desctop {
  margin-right: 60px;
}
@media only screen and (max-width: 1100px) {
  /* line 138, ../sass/my.sass */
  .cart_desctop {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

/* line 154, ../sass/my.sass */
.carousel_wrapper {
  position: relative;
}

/* line 157, ../sass/my.sass */
.carousel {
  height: 700px;
  width: 100%;
  padding-top: 200px;
  padding-left: 330px;
  color: #fafafa;
  margin-top: 60px;
  position: relative;
}
@media only screen and (max-width: 700px) {
  /* line 157, ../sass/my.sass */
  .carousel {
    padding-left: 10px;
    text-align: center;
    padding-top: 20px;
    height: auto;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 157, ../sass/my.sass */
  .carousel {
    margin-top: 20px;
  }
}

/* line 178, ../sass/my.sass */
.carousel_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 185, ../sass/my.sass */
.carousel_element {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

/* line 192, ../sass/my.sass */
.carousel_title {
  color: #fafafa;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
}
@media only screen and (max-width: 700px) {
  /* line 192, ../sass/my.sass */
  .carousel_title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 192, ../sass/my.sass */
  .carousel_title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 400px) {
  /* line 192, ../sass/my.sass */
  .carousel_title {
    font-size: 20px;
  }
}

/* line 203, ../sass/my.sass */
.carousel_text {
  margin-top: 60px;
  display: inline-block;
  width: 500px;
}
@media only screen and (max-width: 500px) {
  /* line 203, ../sass/my.sass */
  .carousel_text {
    width: 100%;
    padding: 20px 10px;
  }
}

/* line 211, ../sass/my.sass */
.carousel_btn, .block_element_btn {
  background-color: #fafafa;
  display: inline-block;
  margin-top: 60px;
  color: #333333;
  text-transform: uppercase;
  padding: 10px 30px;
  cursor: pointer;
}
/* line 219, ../sass/my.sass */
.carousel_btn:hover, .block_element_btn:hover {
  background-color: #999999;
}
/* line 221, ../sass/my.sass */
.carousel_btn:active, .block_element_btn:active {
  position: relative;
  top: 2px;
}

/* line 234, ../sass/my.sass */
.blocks_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: no-wrap;
  padding: 0px 20px;
}
@media only screen and (max-width: 800px) {
  /* line 234, ../sass/my.sass */
  .blocks_container {
    flex-wrap: wrap;
  }
}

/* line 243, ../sass/my.sass */
.block_element {
  flex-grow: 1;
  margin: 60px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fafafa;
  min-width: 200px;
  max-width: 400px;
}
@media only screen and (max-width: 800px) {
  /* line 243, ../sass/my.sass */
  .block_element {
    margin: 20px 10px;
    padding: 20px 10px;
  }
}

/* line 262, ../sass/my.sass */
.block_element_subtitle {
  padding-bottom: 100px;
  text-transform: uppercase;
  position: relative;
}
@media only screen and (max-width: 500px) {
  /* line 262, ../sass/my.sass */
  .block_element_subtitle {
    padding-bottom: 20px;
  }
}
/* line 268, ../sass/my.sass */
.block_element_subtitle:before {
  content: "";
  display: inline-block;
  position: relative;
  border-top: 1px solid #fafafa;
  width: 40px;
  left: -10px;
  top: -5px;
}
/* line 276, ../sass/my.sass */
.block_element_subtitle:after {
  content: "";
  display: inline-block;
  position: relative;
  border-top: 1px solid #fafafa;
  width: 40px;
  left: 10px;
  top: -5px;
}

/* line 288, ../sass/my.sass */
.block_element_title {
  text-transform: uppercase;
  font-size: 35px;
  padding-bottom: 50px;
  text-align: center;
}
@media only screen and (max-width: 300px) {
  /* line 288, ../sass/my.sass */
  .block_element_title {
    font-size: 20px;
  }
}

/* line 296, ../sass/my.sass */
.block_element_btn {
  text-align: center;
}
/* line 297, ../sass/my.sass */
.block_element_btn:active {
  position: relative;
  top: 2px;
}
@media only screen and (max-width: 400px) {
  /* line 296, ../sass/my.sass */
  .block_element_btn {
    font-size: 14px;
    margin-top: 20px;
  }
}

/* line 306, ../sass/my.sass */
.first,
.second,
.third {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 313, ../sass/my.sass */
.first {
  background-image: url(../img/blocks/1.jpg);
}

/* line 315, ../sass/my.sass */
.second {
  background-image: url(../img/blocks/2.jpg);
}

/* line 317, ../sass/my.sass */
.third {
  background-image: url(../img/blocks/3.jpg);
}

/* line 330, ../sass/my.sass */
.news_container {
  margin: 0px auto 60px;
  border: 1px solid gray;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 1240px;
}
@media only screen and (max-width: 1200px) {
  /* line 330, ../sass/my.sass */
  .news_container {
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 900px) {
  /* line 330, ../sass/my.sass */
  .news_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* line 345, ../sass/my.sass */
.news_title_container {
  display: inline-block;
  flex-grow: 1;
}

/* line 348, ../sass/my.sass */
.news_title {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
@media only screen and (max-width: 400px) {
  /* line 348, ../sass/my.sass */
  .news_title {
    font-size: 20px;
  }
}

/* line 356, ../sass/my.sass */
.news_subtitle {
  text-transform: uppercase;
}
@media only screen and (max-width: 900px) {
  /* line 356, ../sass/my.sass */
  .news_subtitle {
    margin: 10px auto;
  }
}
@media only screen and (max-width: 400px) {
  /* line 356, ../sass/my.sass */
  .news_subtitle {
    font-size: 14px;
  }
}

/* line 362, ../sass/my.sass */
.news_input_container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* line 368, ../sass/my.sass */
.news_input {
  flex-grow: 1;
  margin-right: 20px;
}
@media only screen and (max-width: 407px) {
  /* line 368, ../sass/my.sass */
  .news_input {
    margin-bottom: 10px;
  }
}
/* line 373, ../sass/my.sass */
.news_input input {
  width: 100%;
}

/* line 377, ../sass/my.sass */
.news_btn:active {
  position: relative;
  top: 2px;
}

/* line 389, ../sass/my.sass */
footer {
  padding: 50px 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: no-wrap;
  background-color: #333333;
}
@media only screen and (max-width: 800px) {
  /* line 389, ../sass/my.sass */
  footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

/* line 401, ../sass/my.sass */
.footer_element {
  text-align: center;
  flex-grow: 1;
  color: #fafafa;
  margin: 10px;
  max-width: 400px;
  text-align: center;
  color: #999999;
  font-size: 14px;
}
@media only screen and (max-width: 800px) {
  /* line 401, ../sass/my.sass */
  .footer_element {
    text-align: center;
    max-width: 100%;
  }
}

/* line 414, ../sass/my.sass */
.footer_element_title {
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  color: #fafafa;
}
/* line 420, ../sass/my.sass */
.footer_element_title:before {
  content: "";
  display: inline-block;
  position: relative;
  border-top: 1px solid #fafafa;
  width: 40px;
  left: -10px;
  top: -7px;
}
/* line 428, ../sass/my.sass */
.footer_element_title:after {
  content: "";
  display: inline-block;
  position: relative;
  border-top: 1px solid #fafafa;
  width: 40px;
  left: 10px;
  top: -7px;
}

/* line 438, ../sass/my.sass */
.about_text p {
  margin-bottom: 20px;
}

/* line 441, ../sass/my.sass */
.adress {
  margin-bottom: 20px;
}

/* line 444, ../sass/my.sass */
.social_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* line 449, ../sass/my.sass */
.social_element {
  margin: 0px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
}

/* line 455, ../sass/my.sass */
.social_element {
  cursor: pointer;
}
/* line 457, ../sass/my.sass */
.social_element:hover .social_icon {
  color: #932525;
}
/* line 459, ../sass/my.sass */
.social_element:active {
  position: relative;
  top: 2px;
}

/* line 463, ../sass/my.sass */
.social_icon {
  font-size: 30px;
  color: #fafafa;
}

/* line 477, ../sass/my.sass */
.menu_show {
  transform: scale(1);
  opacity: 1;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-top: 20px;
}

/* line 485, ../sass/my.sass */
.show {
  opacity: 1;
}
